title{font-family: 'Source Code Pro', monospace;
color: black;
font-size: 20px;
}
body {font-family: 'Source Code Pro', monospace;
font-size: 20px;
background-color:burlywood;
height: 1000px;
}
h1{font-family: 'Source Code Pro', monospace;
font-size: 24px;

}
h2{font-family: 'Source Code Pro', monospace;
font-size: 20px;
}
img.resize {
    width: 15%;
    height:15%;
float: left;}

span{font-family: 'Source Code Pro', monospace;
    font-size: 14px;}
   
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
  }
  .dropdown {
    position: sticky;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
}
#menuContainer {
  position: fixed;
  top: 0;

}
